.home_page {
  padding: 2rem 0;
}

.header-section {
  background: linear-gradient(to right, grey, light-grey);
  color: #000;
  padding: 2rem 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
}

.section-subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #495057;
  margin-bottom: 1rem;
}

.greeting {
  font-size: 1.25rem;
  color: #f8f9fa;
  margin-top: 0.5rem;
}

.blog-card {
  transition: transform 0.2s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.blog-author,
.blog-likes,
.blog-content {
  font-size: 1rem;
  color: black;
}

.blog-content {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-blogs-message {
  font-size: 1.25rem;
  color: #6c757d;
  text-align: center;
  margin-top: 2rem;
}
